# generated and build files
.gradletasknamecache
.gradle/
build/
bin/
out/


# Intellij IDEA
.idea
*.iml

# Eclipse project files
.classpath
.project
.settings/
.recommenders/


#sonarqube
.scannerwork



# Local configuration file (sdk path, etc)
local.properties

#logs
*.log
logs/

